@font-face {
font-family: "UKJCNK-Arabic";
src: url(UKJCNK.ttf) format("truetype");
}

@font-face {
font-family: "EnglishFont";
src: url(اسم-الملف-الإنجليزي.ttf) format("truetype");
}

[lang="ar"] {
font-family: "UKJCNK-Arabic";
}

[lang="en"] {
font-family: "EnglishFont";
}

body {
font-family: "UKJCNK-Arabic";
}
